---
import MainLayout from '../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<MainLayout title="Preston's Astro Blog">
  <h1>Welcome to My Blog</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
      </li>
    ))}
  </ul>
</MainLayout>